<div class="row search">
    <div class="col-xs-12">
        <form action="{{paths.rooturl}}search/{{content}}" class="home-search">
            <div class="input-group-lg input-group">
                <input placeholder="Buscar artigos..." class="input-lg form-control popover-busca" name="q" value="{{search}}">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-lg" type="submit">
                        <span class="fa fa-search fa-fw"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>